<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Card Reader</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" th:src="@{/resources/js/jquery-1.11.3.min.js}"></script> 
    <script type="text/javascript" th:src="@{/resources/js/cardreader.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/cardreader.css}"/>
    <!-- $Id: index.html,v 1.8 2016/04/27 06:13:04 ericholp Exp $ -->
  </head>
  <body>
   
    <p>%B6009050000000000^HOLP/ERIC&nbsp;ROBERT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;^0000000Z31415926800000000000000?;6009050000000000=00000002640507411800?</p>
    <textarea rows="3" cols="125" id="swipe"></textarea>
    <p id="namestr"></p>
    <p id="last"></p>
    <p id="first"></p>
    <p id="middle"></p>
    <p id="pid"></p>
    <p id="status"></p>
    <p id="response"></p>
    <p><input type="button" value="Test swipe Hillary" onclick="inject(hc)"/></p>
    <p><input type="button" value="Test swipe Bernie" onclick="inject(bs)"/></p>
    <p></p>
    <p id="cf1"><input type="button" value="Turn off force focus" onclick="controlfocus('0')"/></p>
    <p class="initiallyhidden" id="cf2"><input type="button" value="Turn on force focus" onclick="controlfocus('1')"/></p>

  </body>
</html>
