<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Mine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>

      <!-- both of the below work -->
      <!-- <div th:replace="fragments/header :: header">Header</div>-->
      <div th:replace="header :: header">Header</div>

      <p th:text="${message}">Test</p>

      <form action="#" th:action="@{/here}" th:object="${data}" method="post">
         <input type="text" th:field="*{data0}" />
         <button type="submit" name="addRow" th:text="${data.submitname}">Add row</button>
      </form>
  </body>
</html>
