<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Mine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>

      <p th:text="${message}">Test</p>

      <form action="#" th:action="@{/here}" method="post">
         <button type="submit" name="addRow">Add row</button>
      </form>
  </body>
</html>
